# ===== игнорируем ВСЁ по умолчанию =====
*

# ===== разрешаем Git-структуру =====
!.gitignore
!README.md

# ===== разрешаем исходники 1С =====
!src/
!src/**

# ===== на всякий случай: база 1С =====
**/1Cv8*.1CD
**/*.cfl
**/1Cv8Log/
**/1Cv8Tmp/
**/1Cv8FTxt/
**/1Cv8JobScheduler/
